
<div class="custom-inventory" {{ block.shopify_attributes }}>
  <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8.7 4.5V4.49997C8.69997 4.39491 8.72065 4.29087 8.76084 4.1938C8.80103 4.09673 8.85996 4.00853 8.93425 3.93425C9.00854 3.85996 9.09674 3.80103 9.19381 3.76084C9.29088 3.72064 9.39491 3.69997 9.49998 3.7H9.50003C9.60509 3.69997 9.70913 3.72064 9.8062 3.76084C9.90327 3.80103 9.99147 3.85995 10.0658 3.93425C10.14 4.00853 10.199 4.09673 10.2392 4.1938C10.2794 4.29087 10.3 4.39491 10.3 4.49997V4.5V9V9.00004C10.3001 9.14826 10.2589 9.29357 10.1811 9.41973C10.1033 9.54588 9.99192 9.6479 9.85945 9.71438L9.85936 9.71443L7.17606 11.0644C7.17606 11.0644 7.17605 11.0644 7.17605 11.0644C7.08223 11.1116 6.98004 11.1399 6.87531 11.1476C6.77057 11.1553 6.66534 11.1422 6.56563 11.1093C6.46592 11.0763 6.37368 11.024 6.29418 10.9554C6.21467 10.8868 6.14947 10.8032 6.10227 10.7094C6.05508 10.6155 6.02683 10.5133 6.01914 10.4086C6.01144 10.3039 6.02445 10.1986 6.05742 10.0989C6.09039 9.99921 6.14268 9.90698 6.2113 9.82747C6.27992 9.74797 6.36352 9.68276 6.45734 9.63557L6.45736 9.63556L8.64495 8.53474L8.7 8.50704V8.44541V4.5ZM9.5 16.3H9.50012C11.4355 16.2978 13.291 15.528 14.6595 14.1595C16.028 12.7909 16.7978 10.9355 16.8 9.00011V9C16.8 7.55619 16.3719 6.14481 15.5697 4.94434C14.7676 3.74386 13.6275 2.8082 12.2936 2.25568C10.9597 1.70316 9.4919 1.5586 8.07584 1.84027C6.65978 2.12194 5.35905 2.8172 4.33812 3.83812C3.3172 4.85904 2.62194 6.15978 2.34027 7.57584C2.0586 8.9919 2.20316 10.4597 2.75568 11.7936C3.3082 13.1275 4.24386 14.2676 5.44434 15.0697C6.64482 15.8719 8.0562 16.3 9.5 16.3ZM4.55543 1.59992C6.01901 0.621986 7.73971 0.100011 9.49995 0.1C11.8596 0.102715 14.1217 1.04127 15.7902 2.70976C17.4587 4.37827 18.3973 6.64048 18.4 9.00011C18.4 10.7603 17.878 12.481 16.9001 13.9446C15.9221 15.4082 14.5321 16.5489 12.9059 17.2225C11.2796 17.8961 9.49013 18.0724 7.7637 17.729C6.03727 17.3856 4.45144 16.5379 3.20675 15.2932C1.96207 14.0486 1.11442 12.4627 0.771015 10.7363C0.427607 9.00987 0.603856 7.22038 1.27748 5.59412C1.9511 3.96785 3.09183 2.57786 4.55543 1.59992Z" fill="black" stroke="#E8EAEE" stroke-width="0.2"></path>
  </svg>
  <span id="saving-text">
    {{ block.settings.inventory_text }}
  </span>
</div>

<style>
  .custom-inventory {
    background: #e1f4e3;
    border-radius: 8px;
    padding: 17px 18px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.6;
    color: #000;
    display: flex;
    align-items: center;
    gap: 12px;
    letter-spacing: .1px;
  }
  .custom-inventory span {
    display: block;
  }
</style>

{% schema %}
{
  "name": "Custom Inventory",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "inventory_text",
      "label": "Text",
      "default": "Nur heute: 40 % Rabatt + Gratis Versand"
    }
  ],
  "presets": [
    {
      "name": "Custom Inventory"
    }
  ]
}
{% endschema %}
